@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1364px;
    }
}

@media screen and (min-width:1200px) {
    .sec_gap {
        padding: 0px 120px;
    }

    .banner_content {
        padding: 0px 14vw;
    }
}

@media screen and (min-width:992px) {
    .header_sec .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media screen and (max-width:991px) {
    .sec_title {
        font-size: 35px;
    }


    .banner_content h2 {
        font-size: 50px;
    }
}

@media screen and (max-width:767px) {
    .sec_title {
        font-size: 26px;
    }

    .about_content p {
        font-size: 17px;
    }

    .section_heading p {
        font-size: 16px;
    }

    .banner_content h2 {
        font-size: 30px;
    }

    .selection_content h3 {
        font-size: 25px;
    }

    .selection_content p {
        font-size: 18px;
    }

    .customer_card h4 {
        font-size: 20px;
    }

    .customer_card p {
        font-size: 16px;
    }

    .accordion-item button {
        font-size: 18px;
    }

    .breadcrumb_sec {
        height: 150px;
        background-size: cover;
        background-position: center;
    }


}

@media screen and (max-width:575px) {

     

    .secondary_btn {
        font-size: 14px;
    }

    .service_sec .swiper-button-next,
    .service_sec .swiper-button-prev {
        width: 40px;
        height: 40px;
    }

    .banner_content h2 {
        font-size: 20px;
    }

    .banner_content p {
        font-size: 15px;
        color: #fff;
    }

    .breadcrumb_sec h2 {
        font-size: 20px;
    }

    .accordion-body {
        font-size: 15px;
    }

    .single_blog p {
        font-size: 17px;
    }

    .sec_title {
        font-size: 20px;
    }

    .quote_wrap {
        padding: 25px;
    }

}